a {
	color: red;
}

a:not(:hover) {
	text-decoration: none;
}


/*
.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
*/

body {
	background-color: rgb(255, 204, 213);
	margin: 0;
	font-size: .8em;
	overflow-x: hidden;
}

.grid-container {

	display: flex;
	flex-wrap: wrap;
	margin-left: 8em; margin-right: 8em; margin-bottom: 8em; margin-top: 3em; 
}

h1 {font-family: 'Quicksand', sans-serif; 
padding-left: 7em; 
padding-top: 3.5em;
color: red;
font-size: 1.9em;}

h5 {font-family: 'Quicksand', sans-serif; 
color: red;
font-size: 1.8em;}

h3 {font-family: 'Quicksand', sans-serif; 
color: blue;
font-size: 1em;}



h4 {font-family: 'Quicksand', sans-serif; 
padding-left: 3.8em; 
padding-right: 3em;
padding-top: 2em;
padding-bottom: 1em;
color: blue;
font-size: 3.5em;}

.splash {
	overflow-x: hidden; 
	overflow-y: hidden;
	width: 100%;
}

.splash img {
	width: 100%;
	object-fit: contain;
}

.grid-item {
	opacity: 1;
	border: 1px solid rgb(0, 0, 255);
	padding: 2%;
	margin: 1em;
	text-align: center;
	align-items: center; 
	width: 350px;
	flex-grow: 2;
	flex: 1 1 1 1; 
	font-family: 'Quicksand', sans-serif;
    color: blue; 
}

.grid-item img{
	width: 100%;
	height: auto;
	max-width: 300px;
    object-fit: contain;}
     

.info {font-family: 'Quicksand', sans-serif; font-size: .9em; padding-left: 1em;}
.project1Title {font-family: 'Quicksand', sans-serif; font-size: .8em; border-top: 4px dotted red; padding-top: 3em;}
.project2Title {font-family: 'Quicksand', sans-serif; font-size: .8em; border-top: 4px dotted red; padding-top: 3em;}
.project3Title {font-family: 'Quicksand', sans-serif; font-size: .8em; border-top: 4px dotted red; padding-top: 3em;}

.project1Desc {padding-right: 23em;} 
.project2Desc {padding-right: 23em;}
.project3Desc {padding-right: 23em;}

  

/* these classes define the areas to the classes*/
.headshot { grid-area: headshot; }
.info {	grid-area: info; }
.philosophy { grid-area: philosophy; }
.sidebar { grid-area: sidebar; }
.project1Title { grid-area: title1; }
.project1Images { grid-area: images1; }
.project1Desc {	grid-area: desc1; }
.project2Title { grid-area: title2; }
.project2Images { grid-area: images2; }
.project2Desc { grid-area: desc2; }
.project3Title { grid-area: title3; }
.project3Images { grid-area: images3; }
.project3Desc { grid-area: desc3; }


/*this grid container places the areas in the grid*/


.headshot {padding-top: 30mvh;}

.profile-grid {
font-family: 'Noto Serif', serif;
    font-weight: light; 
font-size: 1.4em; 
line-height: 1.7em;
    color: blue;
   


	display: grid; 
	grid-template-columns: 20% 36% 20%; 
	grid-template-rows: auto;
	grid-gap: 60px 60px;
    padding-right: 6em; 
    padding-left: 7em; 
    padding-top: 4em;
     padding-bottom: 4em;
   
     
    

	/* this next section defines the areas */
	grid-template-areas: 
	"headshot info sidebar"
	"philosophy philosophy sidebar"
	"title1 title1 title1"
	"desc1 desc1 desc1"
	"images1 images1 images1"
	"title2 title2 title2"
	"desc2 desc2 desc2"
	"images2 images2 images2"
	"title3 title3 title3"
	"desc3 desc3 desc3"
	"images3 images3 images3";

}


/*
p1 {{font-family: 'Quicksand', sans-serif; 
padding-left: 3.8em; 
padding-right: 3em;
padding-top: 2em;
padding-bottom: 1em;
color: blue;
font-size: 3.5em;}
    
}
*/

.profile {
	/* this border is for testing 
	border: 1px solid rgba(0, 0, 0, 0.8);
	*/
}



.sidebar {
	position: absolute;
/*    background: rgba(0, 0, 255, 0.3);*/
    right: 30px; 
	top: 80mvh;
    bottom: 100% screen;
	max-height: 1020px;
	overflow: auto;
}

.sidebar a {
    border-left: 1px solid blue; 
	padding: 20px;
    font-size: .725em;
    font-weight: medium; 
    color: red;
    text-decoration: underline: none;
}

.headshot-image img{
	display: block;
	width: 100%;
	height: auto;
	min-width: 50px;
	min-height: 50px;
	max-width: 400px;
	max-height: 400px;
}


.projectImages {
	
	display:flex;
	align-items: start;
	width: 100%;
   

}

.projectImages img {

	max-width: 400px;
	padding-right: 15px;
	
}

/*

.projectImages img {

	padding-right: 3px;
	max-width: 497px;
	height: auto;
	
}

*/

.myImg {
	border-radius: 5px;
	transition: 0.3s;
}

.myImg:hover {
	opacity: 0.7;
	-webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
	filter: blur(0px);
}

.modal-content:hover {
	-webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
	filter: blur(0px);
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.2s;
	animation-name: zoom;
	animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}



/*****************/
/* MEDIA QUERIES */
/*****************/

/* iPhone 4 to iPhone 8 widths */

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

	.sidebar {
		display: none;
	}

	.profile-grid {

		grid-template-columns: auto auto auto;
		/* this next section defines the areas */
		grid-template-areas: 
		"headshot info info"
		"philosophy philosophy philosophy"
		"title1 title1 title1"
		"desc1 desc1 desc1"
		"images1 images1 images1"
		"title2 title2 title2"
		"desc2 desc2 desc2"
		"images2 images2 images2"
		"title3 title3 title3"
		"desc3 desc3 desc3"
		"images3 images3 images3";

	}


/*
	.projectImages img {

		min-width: 100%;

	}
	*/

}

/* iPad */

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

	.sidebar {
		display: none;
	}

	.profile-grid {

		grid-template-columns: auto auto auto;
		/* this next section defines the areas */
		grid-template-areas: 
		"headshot info info"
		"philosophy philosophy philosophy"
		"title1 title1 title1"
		"desc1 desc1 desc1"
		"images1 images1 images1"
		"title2 title2 title2"
		"desc2 desc2 desc2"
		"images2 images2 images2"
		"title3 title3 title3"
		"desc3 desc3 desc3"
		"images3 images3 images3";
		
	}

/*
	.projectImages img {

		min-width: 100%;

	}
	*/

}