body {

	/*
	background-image: linear-gradient(to right, rgba(120,0,1,1), rgba(79,0,1,1), rgba(69,0,1,1), rgba(59,0,1,1), rgba(19,0,1,1));
	*/

	background-color:#4EB67A;
	color: black;
	font-family: nudista-web, sans-serif;
	font-style: normal;
  	width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

iframe {
	padding: 15px;
}

.images {
  	margin: auto;
  	width: 80%;
}

.bannerimage {
	width: 100%;
}

.bigimage {
	width: 49.8%;
}

.smallimage {
	width: 24.7%;
}

hr {
	border-color: white;
	height: .5px;
	background-color: white;
	width: 96.5%;
	position: relative;
	top: 78px;
	border-radius: 10px 10px 10px 10px;
}

.pageName {
	position: relative;
	width: 800px;
    border-radius: 20px;
	margin: 0 auto;
	font-size: 48px;
	text-align: center;
	background-color: white;
	color: #450001;
}

.text {
  	margin: auto;
	text-align: left;
	width: 80%;
	position: relative;
	font-size: 30px;
}


/*FOOTER*/

.footer {
	position: fixed;
  	width: 100%;
    left: 0;
    bottom: 0;
    background-color: #4EB67A;
    opacity: 0.75;
    color: white;
	text-align: center;
}


.footer span {
	font-weight: normal;
}

/*CSS TAKEN FROM https://www.embedgooglemap.net/*/

.mapouter{
	text-align:right;
}

.gmap_canvas {
	position: relative;
	right: 1.25%;
	bottom: 50%;
	overflow:hidden;
	background:none!important;
	width:100.5%;
	height:600px;
}


/*NAVIGATION BAR*/

.navbar {
    display: inline-block;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: 102%;
    left: -20px;
    height: 80px;
    z-index: 100;
    box-shadow:10px 10px 70px grey;
}


.navbar a {
    display: block;
    float: right;
    color: #996017;
    text-align: center;
    position: relative;
    padding: 20px;
    text-decoration: none;
	font-weight: 600;
    font-size: 36px;
}

.navbar .siteName {
	float: left;
    left: 30px;
    bottom: 7px;
    font-weight: 450;
    font-size: 45px; 
}

.storeName a:hover {
    cursor: pointer;
}


.navbar a.option:hover {
    cursor: pointer;
    background-color: #996017;
    color: white;
}


.navbar .icon {
	display: none;
}


.navbar .hidden {
	display: none;
}

/*MOBILE CHECKS*/

.mobile-form {
	margin: auto;
	display: none;
}

.desktop-form {
	display: block;
}

.mobile-map {
	margin: auto;
	display: none;
}

.desktop-map {
	display: block;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) and (orientation: portrait) {

	.footer {
		font-size: 30px;
	}

	.pageName {
	position: relative;
	width: 90%;
    border-radius: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	color: #443731;	
	font-size: 54px;
	}



	.images {
	  	margin: auto;
	  	width: 100%;
	}

	.bannerimage {
		width: 100%;
	}

	.bigimage {
		width: 49%;
	}

	.smallimage {
		width: 23.9%;
	}

	.gmap_canvas {
		width:103.5%;
	}


	.navbar {
    	width: 100%;
	    position: absolute;
	    top: 0px;
	    left: 0px;
	}

	.navbar a {
		display: none;
	}

	.navbar a.icon {
		float: left;
		display: block;
    	font-size: 48px;
	    top: -10px;
	}

	.navbar a.navHome {
		display: none;
	}

	.text {
		width: 95%;
		position: relative;
		font-size: 30px;
	}

	.mobile-form {
		display: block;
	}

	.desktop-form {
		display: none;
	}

	.mobile-map {
		display: block;
	}

	.desktop-map {
		display: none;
	}
}

@media screen and (max-width: 1000px) and (orientation: portrait) {

	.navbar.responsive {
		position: absolute;
    	height: 23%;
    	width: 100%;
	}
	.navbar.responsive.icon {
		position: absolute;
		right: 0px;
    	font-size: 48px;
	    top: -10px;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
    	font-size: 48px;
	}
	.navbar.responsive a.hidden {
		display: block;
	}
	.navbar.responsive a.navHome {
		display: none;
	}
	.navbar.responsive a.siteName {
    	font-size: 56px;
   		left: 0px;
    	bottom: 0px;
	}
}