<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <title>THE TOMB</title>

    <link href="css/gamestyle.css" rel="stylesheet">
    <script src="js/quitbutton.js"></script>
    <script src="js/dropdown.js"></script>

  </head>

  <body>

  	<!--QUIT BUTTON-->
	<div class="quit">
	  <li>
		<button onclick="quitButton();">QUIT</button>
	  </li>
	</div>

  	<main>
  		<div id="center">
			<h1>
				****
			</h1>
		</div>

		<div class="dropdown">
		  <button onclick="dropDown1()" class="dropbtn">    </button>
		  <div id="dropdown1" class="dropdown-content">

		  	

			<a class="dropbtn" href="puzzleroomstart.html">    </a>
		  </div>

			
		</div>
  		
  	</main>
  </body>
</html>