
body {

	/*
	background-image: linear-gradient(to right, rgba(120,0,1,1), rgba(79,0,1,1), rgba(69,0,1,1), rgba(59,0,1,1), rgba(19,0,1,1));
	*/

	background-color:#000000;
	color: white;
	font-family: houschka-rounded, sans-serif;
	font-style: normal;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

iframe {
	padding: 15px;
}

hr {
	border-color: white;
	height: .5px;
	background-color: white;
	width: 96.5%;
	position: relative;
	top: 61px;
	border-radius: 10px 10px 10px 10px;
}

a {
	color: white;
	display:block;
	text-decoration: none;
	opacity: 90%;
}

a:not(:hover) {
	opacity: 100%;
}


.smallerline {
	width: 60.5%;
	height: 2px;
}


.center {
	margin: auto;
	width: 40%;
}

.main {

	width: 100%;
	height: 100%;
	right: 0;
	bottom: -100px;
	position: absolute;
	padding: 0;
	text-align: center;

}

.zipcode {
	font-weight: bold;
	font-size: 30px;
	position: relative;
}

.header {
	font-weight: bold;
	font-size: 48px;
}

.subtext {
	font-weight: bold;
	font-size: 30px;
	position: relative;
	bottom: 14px;
}

.description {
	position: relative;
	bottom: 10px;
	font-size: 24px;
	text-align: left;

}

.addbutton{
	display: inline-block;
	width: 28px;
	height: 28px;
}

/* INPUT FORM */

input[type=text] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #3348FF;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* GRID */

/* these classes define the areas to the classes*/
.gridheader { grid-area: header; }
.grid-Pos1 { grid-area: item1; }
.grid-Pos2 { grid-area: item2; }
.grid-Pos3 { grid-area: item3; }
.grid-Pos4 { grid-area: item4; }
.grid-Pos5 { grid-area: item5; }
.grid-Pos6 { grid-area: item6; }
.list-Pos1 { grid-area: list1; }
.list-Pos2 { grid-area: list2; }
.list-Pos3 { grid-area: list3; }
.list-Pos4 { grid-area: list4; }
.list-Pos5 { grid-area: list5; }


.item {
	opacity: 1;
	flex-grow: 2;
	flex: 1 1 1 1; 
	border: 1px solid rgb(255, 255, 255);
	font-family: 'Quicksand', sans-serif;
	color: white; 
}

.item img {
	vertical-align: middle;
	object-fit: contain;
}

.index-grid {

	display: grid; 
	grid-template-columns: 49% 49% 2%; 
	grid-template-rows: 10% 10% 80%;
	justify-items: center;

	/* this next section defines the areas */
	grid-template-areas: 
	"item1 . ."
	"item1 item2 ."
	"item1 item3 ."
}

.category-grid {

	display: grid; 
	grid-template-columns:  20% 20% 20% 20% 20%; 
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;

	/* this next section defines the areas */
	grid-template-areas: 
	". header . . ."
	". item1 item2 item3 ."
	". item4 item5 item6 ."
}

.category-item {
	margin: 1em;
	padding: 5%;
	text-align: center;
	align-items: center; 
	max-width: 400px;
	max-height: 500px;
}

.category-item img{
	width: 100%;
	height: auto;
	max-width: 300px;
}

.list-grid {
	font-size: 26px;
	display: grid; 
	text-align: left;
	grid-template-columns: 20% 60% 20%; 
	/* this next section defines the areas */
	grid-template-areas: 
	". header ."
	". item1 ."
	". item2 ."
	". item3 ."
	". item4 ."
	". item5 ."
	". item6 ."
}

.list-item {
	width: 99%;
	max-height: 200px;
}

.list-item-content {
	display:grid;
	width: 100%;
	grid-template-columns: 10% 70% 20%; 
	grid-template-areas: 
	"list1 list2 list3"
}


.list-item-content img{
	padding: 0.25%;
	padding-right: 1%;
	width: auto;
	height: 128px;
}

.list-item-content div{
	margin: auto;
	text-align: right;
}

.detail-grid {

	display: grid; 
	grid-template-columns:  20% 30% 30% 20%; 
	grid-template-rows: auto;
	align-items: center;

	/* this next section defines the areas */
	grid-template-areas: 
	". item1 . ."
	". item1 item2 ."
	". item1 item3 ."
	". item4 item4 ."
	". item5 item5 ."
}




.detailheader {
	font-weight: bold;
	font-size: 30px;
}

.storehyperlink {
	color: #418FDE;
}

.list-store-content {
	font-size: 26px;
	display:grid;
	width: 100%;
	grid-template-columns: 10% 45% 15% 15% 15%; 
	grid-template-areas: 
	"list1 list2 list3 list4 list5"
}

.list-store-content img{
	padding: 0.25%;
	padding-right: 1%;
	width: auto;
	height: 128px;
}

.list-store-content div{
	margin: auto;
	text-align: right;
}

.gridheader { 
	font-size: 64px;
	position: relative;
	text-align: left;
	padding-left: 0.5%; 
}

.pos-left{
	text-align: left;
}


.floatright {
	float: right;
}

/*NAVIGATION BAR*/

.navbar {
	display: inline-block;
	padding: 0;
	overflow: hidden;
	background-color: white;
	position: absolute;
	left: -20px;
	top: -5px;
	width: 101%;
	height: 90px;
	z-index: 100;
}


.navbar a {
	display: block;
	float: right;
	color: #000000;
	text-align: center;
	position: relative;
	padding: 20px;
	text-decoration: none;
	font-weight: 600;
	font-size: 36px;
}

.navbar .siteName {
	float: left;
	left: 30px;
	bottom: 7px;
	font-weight: 450;
	font-size: 45px; 
}

.siteName a:hover {
	cursor: pointer;
}

/*Home, Menu, etc.*/

.navbar a.option:hover {
	cursor: pointer;
	background-color: #696969;
	color: white;
}

/*Home, Menu, etc.*/
.navbar a.active {
	background-color: #696969;
	color: white;
}

.navbar .icon {
	display: none;
}


.navbar .hidden {
	display: none;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) and (orientation: portrait) {

	.zipcode {
		font-size: 50px;
	}

	.header {
		bottom: 10px;
		font-size: 70px;
	}

	.subtext {
		font-size: 40px;
	}

	.description {
		position: relative;
		font-size: 32px;
		text-align: left;

	}

	input[type=text] {
		font-size: 50px;
	}

	input[type=submit] {
		font-size: 50px;
	}

	.index-grid {
		grid-template-columns: 5% 91% 4%; 
		grid-template-rows: 28% 15% 57%; 

		grid-template-areas: 
		". item3 ."
		". item2 ."
		". item1 ."
	}

	.category-grid {
		grid-template-columns: 50% 50%; 
		/* this next section defines the areas */
		grid-template-areas: 
		"header header"
		"item1 item2"
		"item3 item4"
		"item5 item6"
	}

	.category-item {
		max-width: 1000px;
	}

	.category-item img{
		width: 100%;
		height: auto;
		max-width: 1000px;
		object-fit: contain;
	}

	.list-grid {
		font-size: 40px;
		grid-template-columns: 50% 50%; 
		/* this next section defines the areas */
		grid-template-areas: 
		"header header"
		"item1 item1"
		"item2 item2"
		"item3 item3"
		"item4 item4"
		"item5 item5"
		"item6 item6"
	}

	.list-item {
		width: 99%;
	}

	.list-item img{
		width: auto;
		height: 200px;
	}

	.list-item-content {
		grid-template-columns: 10% 65% 25%; 
	}

	.floatright {
		padding-right: 10px;
		font-size: 28px;
	}

	.detail-grid {

		display: grid; 
		grid-template-columns: 50% 50%; 
		grid-template-rows: auto;
		align-items: center;

		/* this next section defines the areas */
		grid-template-areas: 
		"item2 item2"
		"item1 item1"
		"item5 item5"
		"item3 item3"
	}

	.list-store-content {
		font-size: 26px;
		display:grid;
		width: 100%;
		grid-template-columns: 10% 60% 15% 15%; 
		grid-template-areas: 
		"list1 list2 list3 list4"
	}

	.list-store-content img{
		padding: 0.25%;
		padding-right: 1%;
		width: auto;
		height: 200px;
	}

	.list-store-content div{
		margin: auto;
		text-align: right;
	}

	.storeheader {
		display: none;
	}


	.productimage {
		text-align: center;
	}

	.gridheader { 
		font-size: 100px;
		position: relative;
	}

	.footer {
		font-size: 30px;
	}

	.navbar {
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.navbar a {
		display: none;
	}

	.navbar a.icon {
		float: left;
		display: block;
		font-size: 48px;
		top: -10px;
	}

	.navbar a.navHome {
		display: none;
	}

	.orderButtonPos {
		display: none;
	}

	.front {

		right: 0;
		background-position: bottom;

	}



}

@media screen and (max-width: 1000px) and (orientation: portrait) {

	.navbar.responsive {
		position: absolute;
		height: 50.5%;
	}
	.navbar.responsive.icon {
		position: absolute;
		right: 0px;
		font-size: 48px;
		top: -10px;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
		font-size: 48px;
	}
	.navbar.responsive a.hidden {
		display: block;
	}
	.navbar.responsive a.navHome {
		display: none;
	}
	.navbar.responsive a.siteName {
		font-size: 56px;
		left: 0px;
		bottom: 0px;
	}
}

@media screen and (max-width: 1000px) and (orientation: landscape) {

	.zipcode {
		font-size: 50px;
	}

	.header {
		bottom: 10px;
		font-size: 70px;
	}

	.subtext {
		font-size: 40px;
	}

	.description {
		position: relative;
		font-size: 32px;
		text-align: left;

	}

	input[type=text] {
		font-size: 50px;
	}

	input[type=submit] {
		font-size: 50px;
	}

	.index-grid {
		grid-template-columns: 2% 96% 2%; 
		grid-template-rows: 10% 30% 60%; 

		grid-template-areas: 
		". item2 ."
		". item3 ."
		". item1 ."
	}

	.category-grid {
		grid-template-columns: 50% 50%; 
		/* this next section defines the areas */
		grid-template-areas: 
		"header header"
		"item1 item2"
		"item3 item4"
		"item5 item6"
	}

	.category-item {
		max-width: 1000px;
	}

	.category-item img{
		width: 100%;
		height: auto;
		max-width: 1000px;
		object-fit: contain;
	}

	.list-grid {
		font-size: 40px;
		grid-template-columns: 50% 50%; 
		/* this next section defines the areas */
		grid-template-areas: 
		"header header"
		"item1 item1"
		"item2 item2"
		"item3 item3"
		"item4 item4"
		"item5 item5"
		"item6 item6"
	}

	.list-item {
		width: 99%;
	}

	.list-item img{
		width: auto;
		height: 200px;
	}

	.list-item-content {
		grid-template-columns: 10% 65% 25%; 
	}

	.floatright {
		padding-right: 10px;
		font-size: 28px;
	}

	.detail-grid {

		display: grid; 
		grid-template-columns: 50% 50%; 
		grid-template-rows: auto;
		align-items: center;

		/* this next section defines the areas */
		grid-template-areas: 
		"item2 item2"
		"item1 item1"
		"item5 item5"
		"item3 item3"
	}

	.list-store-content {
		font-size: 26px;
		display:grid;
		width: 100%;
		grid-template-columns: 10% 60% 15% 15%; 
		grid-template-areas: 
		"list1 list2 list3 list4"
	}

	.list-store-content img{
		padding: 0.25%;
		padding-right: 1%;
		width: auto;
		height: 200px;
	}

	.list-store-content div{
		margin: auto;
		text-align: right;
	}

	.storeheader {
		display: none;
	}
	
	.productimage {
		text-align: center;
	}

	.gridheader { 
		font-size: 100px;
		position: relative;
	}

	.footer {
		font-size: 27px;
		opacity:.75;
		height: 18%;
	}

	.navbar {
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.navbar a {
		display: none;
	}

	.navbar a.icon {
		float: left;
		display: block;
		font-size: 36px;
		top: -10px;
	}

	.navbar a.navHome {
		display: none;
	}

	.orderButtonPos {
		display: none;
	}

}

@media screen and (max-width: 1000px) and (orientation: landscape) {

	.navbar.responsive {
		position: absolute;
		height: 100%;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.navbar.responsive.icon {
		position: absolute;
		font-size: 36px;
		top: -10px;
		left: 0px;
	}
	.navbar.responsive a.option {
		font-size: 24px;
	}
	.navbar.responsive a.active {
		font-size: 24px;
	}
	.navbar.responsive a.hidden {
		display: block;
	}
	.navbar.responsive a.navHome {
		display: none;
	}
	.navbar.responsive a.siteName {
		font-size: 36px;
		left: 0px;
		bottom: 0px;
	}
}